<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Sección para definir secciones de configuración adicionales (vacía en este caso). -->
	<configSections>
	</configSections>

	<!-- Sección para definir las cadenas de conexión a bases de datos. -->
	<connectionStrings>
		<!-- Cadena de conexión para la base de datos Northwind. -->
		<add name="DataSourceDemo.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-JUKRMDJ\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Sección para definir las configuraciones de inicio de la aplicación. -->
	<startup>
		<!-- Especifica la versión del runtime de .NET Framework que la aplicación soporta. -->
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
